@import "../../styles/_colors"

header.dashboard__header
    position: fixed
    top: 0
    height: 60px
    width: 90%
    background: white
    margin-left: 10%
    box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.1)
    transition: .35s
    z-index: 6
    .container
        height: 100%
        padding: 0 2rem
        margin: 0 auto
        display: flex
        justify-content: flex-end
        align-items: center
        .logo__container
            display: none
        .right__nav
            display: flex
            align-items: center
            height: 100%
        .notify
            padding-left: .8rem
            margin-right: 2.8rem
            position: relative
            cursor: pointer
            span
                position: absolute
                top: -10px
                right: -10px
                font-size: 12px
                background: red
                color: white
                height: 20px
                width: 20px
                display: flex
                justify-content: center
                align-items: center
                border-radius: 50%
        .profile
            height: 100%
            display: flex
            align-items: center
            cursor: pointer
            .dp__container
                height: 40px
                width: 40px
                position: relative
                margin-right: 1.5rem
                img
                    height: 100%
                    width: 100%
                    object-fit: contain
                .default
                    display: flex
                    justify-content: center
                    align-items: center
                    font-size: 2rem
                    font-weight: 700
                    opacity: .7
                    // color: $primary
            .name
                color: $primary
                display: flex
                align-items: center
                span
                    max-width: 200px
                    white-space: nowrap
                    overflow: hidden
                    text-overflow: ellipsis
                .icon
                    margin-left: .8rem
        .dropdown
            position: absolute
            top: 50px
            right: 0
            transform: translateX(100%)
            opacity: 0
            min-width: 250px
            padding: 1rem 0
            background: #FFFFFF
            box-shadow: 2px 4px 15px 15px rgba(0, 0, 0, 0.05)
            transition: .35s
            &.open
                transform: translateX(0)
                opacity: 1
            .profile
                justify-content: center
                align-items: canter
                flex-direction: column
                padding: 1rem
                .dp__container
                    margin-right: 0
                    margin-bottom: 1rem
            ul
                li
                    a
                        padding: .7rem 1rem
                        display: flex
                ul
                    border-top: 1px solid#D9D9D9
                    border-bottom: 1px solid#D9D9D9

@media screen and ( max-width: 1900px )
    header.dashboard__header
        width: calc( 100% - 250px )
        margin-left: 250px
        &.full__width
            width: calc(100% - 70px)
            margin-left: 70px
            .container
                justify-content: space-between
                .logo__container
                    display: flex
        .container
            .logo__container
                height: 60px
                width: 130px
                position: relative
                padding: 15px 0
                display: flex
                justify-content: flex-start
                transition: .35s
                display: none
                .logo
                    height: 30px
                    // width: 100px
                    position: relative
                    img
                        height: 100%
                        width: 90px
                        object-fit: contain

@media screen and ( max-width: 992px )
    header.dashboard__header
        width: calc(100% - 200px)
        margin-left: 200px

@media screen and ( max-width: 768px )
    header.dashboard__header
        width: calc(100% - 70px)
        margin-left: 70px
        &.full__width
            width: calc(100% - 70px)
            margin-left: 70px
        .container
            padding: 0 1rem
            justify-content: space-between
            align-items: center
            .logo__container
                height: 60px
                width: 130px
                position: relative
                padding: 15px 0
                display: flex
                justify-content: flex-start
                transition: .35s
                .logo
                    height: 30px
                    width: 100px
                    position: relative

@media screen and ( max-width: 480px )
    header.dashboard__header
        width: 100%
        margin-left: 0
        &.full__width
            width: 100%
            margin-left: 0
        .container
            .notify
                margin-right: 2rem
            .profile
                display: flex
                align-items: center
                cursor: pointer
                .dp__container
                    margin-right: .8rem
                .name
                    span
                        display: none
                    .icon
                        margin-left: 0rem
