@import "../../../styles/_colors.sass"

.profile
    article
        padding: 1rem 2rem
    .card
        padding: 0.5rem 0
        margin: 1rem 0
        border-bottom: 1px solid #bbbbbb
        h3
            font-weight: 500
            color: black
            margin-bottom: 1rem
            color: $primary
            p
                line-height: 1.5rem
