.layout
    display: block
    main.main
        width: 90%
        margin-top: 60px
        margin-left: 10%
        min-height: calc( 100vh - 60px )
        overflow-y: auto
        transition: .35s

@media screen and ( max-width: 1900px )
    .layout
        display: block
        main.main
            margin-left: 250px
            width: calc( 100% - 250px )
            &.full__width
                width: calc( 100% - 70px )
                margin-left: 70px

@media screen and ( max-width: 992px )
    .layout
        main.main
            width: calc( 100% - 200px )
            margin-left: 200px

@media screen and ( max-width: 768px )
    .layout
        main.main
            width: calc( 100% - 70px )
            margin-left: 70px
            overflow-y: visible

@media screen and ( max-width: 480px )
    .layout
        main.main
            width: 100%
            margin-left: 0
            &.full__width
                width: 100%
                margin-left: 0
