.main__content
    width: calc( 100% - 280px )
.sub__content
    width: 280px
    position: fixed
    right: 0
    top: 60px

@media screen and ( max-width: 992px )
    .main__content
        width: calc( 100% - 230px )
    .sub__content
        width: 230px

@media screen and ( max-width: 768px )
    .main__content
        width: 100%
    .sub__content
        width: 100%
        position: relative
        top: 0
        margin-top: 2rem
