@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap')

@import "./_colors"

*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: 'Lato', sans-serif

a
    text-decoration: none
    color: $primary
    &.dark_bg
        color: #E2E8EC
    &:hover
        text-decoration: underline

ul
    list-style: none

.dashboard
    background: $bg
    width: 100%
    max-width: 1900px
    margin: auto
    position: relative

::-webkit-scrollbar
    width: .8em
    padding: .3rem
    background-color: lightgray
::-webkit-scrollbar-thumb
    background-color: gray
    border-radius: .4rem

.metrics__showcase
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-between
    gap: 15px
    margin-bottom: 3rem

.bread__crumb
    margin-bottom: 1.5rem
    span
        margin-right: .4rem

.content
    margin: 2rem 0
    padding: 0 1.5rem
    position: relative

@media screen and ( max-width:768px)
    body
        background: $bg
    .content
        margin: 2rem 0
        padding: 2rem 1rem
