@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap')

@import "./_colors"

*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: 'Lato', sans-serif

a
    text-decoration: none
    color: $primary
    &.dark_bg
        color: #E2E8EC
    &:hover
        text-decoration: underline

ul
    list-style: none

.dashboard
    background: $bg
    width: 100%
    max-width: 1900px
    margin: auto
    position: relative

::-webkit-scrollbar
    width: .8em
    padding: .3rem
    background-color: lightgray
::-webkit-scrollbar-thumb
    background-color: gray
    border-radius: .4rem

.content
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr))
    grid-auto-flow: dense
    grid-column-gap: 3rem
    margin: 2rem 0
    padding: 0 2rem
    position: relative
